In [1]:
import pandas as pd
import numpy as np

In [2]:
# Criando dados fictícios de atendimento ao cliente
data = {
    "ID_Atendimento": range(1, 51),
    "Data_Atendimento": pd.date_range(start="2024-01-01", periods=50, freq="D"),
    "Cliente_ID": [f"C{str(i).zfill(3)}" for i in range(1, 51)],
    "Canal": ["E-mail", "Telefone", "Chat Online", "WhatsApp"] * 12 + ["E-mail", "Chat Online"],
    "Tempo_Resposta_Minutos": [15, 30, 10, 45, 25, 20, 50, 5, 35, 40] * 5,
    "Resolvido": ["Sim", "Não"] * 25,
    "Satisfacao": [5, 4, 3, 2, 1] * 10  # Escala de 1 a 5
}

# Criando o DataFrame
df = pd.DataFrame(data)

# Exibir as primeiras linhas do dataset
df.head()

,ID_Atendimento,Data_Atendimento,Cliente_ID,Canal,Tempo_Resposta_Minutos,Resolvido,Satisfacao
0,1,2024-01-01,C001,E-mail,15,Sim,5
1,2,2024-01-02,C002,Telefone,30,Não,4
2,3,2024-01-03,C003,Chat Online,10,Sim,3
3,4,2024-01-04,C004,WhatsApp,45,Não,2
4,5,2024-01-05,C005,E-mail,25,Sim,1

In [3]:
# Salvando como CSV
df.to_csv("analise_atendimento.csv", index=False)