In [1]:
#Imports
import pandas as pd
import numpy as np

## Carregando os Dados ##

In [3]:
# Carrega o dataset
df_planilha2 = pd.read_excel("empresa_de_varejo.xlsx", sheet_name='Compras')

In [4]:
# Salvar uma cópia do DataFrame original antes de alterações
df_planilha2.to_excel('empresa_de_varejo_copia_compras.xlsx', sheet_name='Compras', index=False)

In [5]:
# Imprimir
df_planilha2.head(3)

,ID_Produto,Data_Compra,Preco_Unitario,Quantidade_Itens,Produto,Metodo_Pagamento,Desconto_Aplicado,Estado
0,X1,2024-09-01,400.0,2,Smartphone,Crédito,0,RS
1,X2,2024-09-05,350.0,1,Laptop,Pix,15,SC
2,X3,2024-09-06,700.0,3,TVs,Boleto,0,SP

## Limpeza dos Dados ##

In [10]:
# Substituir os valores da Data_Compra de dezembro por outras datas já que o período analisado é SET-OUT-NOV
df_planilha2['Data_Compra'] = df_planilha2['Data_Compra'].replace({'2024-12-01': '2024-09-01',
                                                                   '2024-12-02': '2024-10-01',
                                                                   '2024-12-03': '2024-11-01',
                                                                  })

In [16]:
# Certifique-se de que a coluna 'Quantidade_Itens' é numérica
df_planilha2['Quantidade_Itens'] = pd.to_numeric(df_planilha2['Quantidade_Itens'], errors='coerce')

In [20]:
# Substituir os valores da coluna 'Quantidade_Itens' de acordo com seu mapeamento
df_planilha2['Quantidade_Itens'] = df_planilha2['Quantidade_Itens'].replace({6: 1,
                                                                            5: 1,
                                                                            7: 1,
                                                                            8: 1,
                                                                            9: 2,
                                                                            10: 2,
                                                                            11: 1})

In [21]:
# Verificar as primeiras linhas para garantir que a alteração foi feita corretamente
df_planilha2.head(5)

,ID_Produto,Data_Compra,Preco_Unitario,Quantidade_Itens,Produto,Metodo_Pagamento,Desconto_Aplicado,Estado
0,X1,2024-09-01,400.0,2,Smartphone,Crédito,0,RS
1,X2,2024-09-05,350.0,1,Laptop,Pix,15,SC
2,X3,2024-09-06,700.0,3,TVs,Boleto,0,SP
3,X4,2024-10-10,900.0,1,Fones de ouvido,Crédito,0,AC
4,X5,2024-10-05,150.0,1,Câmeras,Crédito,0,AL

In [23]:
# Converter a coluna "Data_Compra" para datetime (caso não esteja nesse formato)
df_planilha2['Data_Compra'] = pd.to_datetime(df_planilha2['Data_Compra'])

In [24]:
# Formatar a coluna "Data_Nascimento" para manter apenas ano-mês-dia
df_planilha2['Data_Compra'] = df_planilha2['Data_Compra'].dt.strftime('%Y-%m-%d')

In [25]:
# Salvar o DataFrame modificado
df_planilha2.to_excel('Compras.xlsx', sheet_name='Compras', index=False)