In [1]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpt
import seaborn as sns

## Carregando os Dados ##

In [3]:
# Carrega o dataset
df_planilha1 = pd.read_excel("empresa_de_varejo.xlsx", sheet_name='Cliente')

In [5]:
# Salvar uma cópia do DataFrame original antes de alterações
df_planilha1.to_excel('empresa_de_varejo_copia_cliente.xlsx', sheet_name='Cliente', index=False)

In [6]:
# Imprimir
df_planilha1.head(3)

   ID_Cliente Nome_Cliente          Data_Nascimento Genero Estado Tipo_Cliente
0           1      Bruna C  1800-01-01 00:00:00.000      F     RS         Novo
1           2   Henrique P  2002-05-25 00:00:00.000      M     SC   Recorrente
2           3      Bruna E  1800-01-01 00:00:00.000      F     SP          VIP

## Limpeza dos Dados ##

In [7]:
# Converter a coluna "Data_Nascimento" para datetime (caso não esteja nesse formato)
df_planilha1['Data_Nascimento'] = pd.to_datetime(df_planilha1['Data_Nascimento'])

In [8]:
# Formatar a coluna "Data_Nascimento" para manter apenas ano-mês-dia
df_planilha1['Data_Nascimento'] = df_planilha1['Data_Nascimento'].dt.strftime('%Y-%m-%d')

In [9]:
# Verificar as primeiras linhas para garantir que a alteração foi feita corretamente
df_planilha1.head(3)

   ID_Cliente Nome_Cliente Data_Nascimento Genero Estado Tipo_Cliente
0           1      Bruna C      1800-01-01      F     RS         Novo
1           2   Henrique P      2002-05-25      M     SC   Recorrente
2           3      Bruna E      1800-01-01      F     SP          VIP

In [10]:
# Substituir os valores "F" por "Feminino" e "M" por "Masculino"
df_planilha1['Genero'] = df_planilha1['Genero'].replace({'F': 'Feminino', 'M': 'Masculino'})

In [11]:
# Verificar as primeiras linhas para garantir que a alteração foi feita corretamente
df_planilha1.head(3)

   ID_Cliente Nome_Cliente Data_Nascimento     Genero Estado Tipo_Cliente
0           1      Bruna C      1800-01-01   Feminino     RS         Novo
1           2   Henrique P      2002-05-25  Masculino     SC   Recorrente
2           3      Bruna E      1800-01-01   Feminino     SP          VIP

In [12]:
# Substituir os valores de "1800-01-01" da Data_Nascimento por "0000-00-00"
df_planilha1['Data_Nascimento'] = df_planilha1['Data_Nascimento'].replace({'1800-01-01': '0000-00-00'})

In [13]:
# Verificar as primeiras linhas para garantir que a alteração foi feita corretamente
df_planilha1.head(3)

   ID_Cliente Nome_Cliente Data_Nascimento     Genero Estado Tipo_Cliente
0           1      Bruna C      0000-00-00   Feminino     RS         Novo
1           2   Henrique P      2002-05-25  Masculino     SC   Recorrente
2           3      Bruna E      0000-00-00   Feminino     SP          VIP

## Salvar o resultado ##

In [15]:
# Salvar o DataFrame modificado
df_planilha1.to_excel('Cliente.xlsx', sheet_name='Cliente', index=False)