In [1]:
#Imports
import pandas as pd
import numpy as np

## Carregando os Dados ##

In [2]:
# Carrega o dataset
df_planilha3 = pd.read_excel("empresa_de_varejo.xlsx", sheet_name='Fidelizacao')

In [3]:
# Salvar uma cópia do DataFrame original antes de alterações
df_planilha3.to_excel('empresa_de_varejo_copia_fidelizacao.xlsx', sheet_name='Fidelizacao', index=False)

In [4]:
# Imprimir
df_planilha3.head(3)

,ID_Cliente,Data_Cadastro,Status,Pontuação,Interacao_Suporte,Nivel_Satisfacao
0,1,04/20,Normal,1,0,1
1,2,03/21,VIP,4,0,2
2,3,03/21,Normal,1,1,3

## Limpeza dos Dados ##

In [7]:
# Substituir os valores 
df_planilha3['Data_Cadastro'] = df_planilha3['Data_Cadastro'].replace({'30/22': '05/22',
                                                                       '30/24': '04/21',
                                                                       '15/23': '02/20',
                                                                       '30/23': '03/21'})

In [8]:
# Imprimir
df_planilha3.head()

,ID_Cliente,Data_Cadastro,Status,Pontuação,Interacao_Suporte,Nivel_Satisfacao
0,1,04/20,Normal,1,0,1
1,2,03/21,VIP,4,0,2
2,3,03/21,Normal,1,1,3
3,4,03/22,Normal,2,1,4
4,5,03/23,Normal,2,0,5

In [9]:
# Converter a coluna 'Data_Cadastro' para o formato datetime, considerando o ano como '20'
df_planilha3['Data_Cadastro'] = pd.to_datetime(df_planilha3['Data_Cadastro'], format='%m/%y')

In [10]:
# Formatar a coluna para o formato MM/AAAA
df_planilha3['Data_Cadastro'] = df_planilha3['Data_Cadastro'].dt.strftime('%m/%Y')

In [11]:
# Imprimir
df_planilha3.head()

,ID_Cliente,Data_Cadastro,Status,Pontuação,Interacao_Suporte,Nivel_Satisfacao
0,1,04/2020,Normal,1,0,1
1,2,03/2021,VIP,4,0,2
2,3,03/2021,Normal,1,1,3
3,4,03/2022,Normal,2,1,4
4,5,03/2023,Normal,2,0,5

## Salvar o Resultado ##

In [12]:
# Salvar o DataFrame modificado
df_planilha3.to_excel('Fidelizacao.xlsx', sheet_name='Fidelizacao', index=False)